In [3]:
#Reading the data
import numpy as np 
import pandas as pd
train = pd.read_csv("Data/train.csv")
test = pd.read_csv("Data/test.csv")

In [4]:
train.shape, test.shape

((20000, 22), (5000, 21))

In [5]:
train.columns.to_list()

['Location',
 'Cross_Street',
 'Latitude',
 'Longitude',
 'Date_Reported',
 'Date_Occurred',
 'Time_Occurred',
 'Area_ID',
 'Area_Name',
 'Reporting_District_no',
 'Part 1-2',
 'Modus_Operandi',
 'Victim_Age',
 'Victim_Sex',
 'Victim_Descent',
 'Premise_Code',
 'Premise_Description',
 'Weapon_Used_Code',
 'Weapon_Description',
 'Status',
 'Status_Description',
 'Crime_Category']

Columns Description:

    Location: Street address of the crime incident.
    Cross_Street: Cross street of the rounded address.
    Latitude: Latitude coordinates of the crime incident.
    Longitude: Longitude coordinates of the crime incident.
    Date_Reported: Date the incident was reported.
    Date_Occurred: Date the incident occurred.
    Time_Occurred: Time the incident occurred in 24-hour military time.
    Area_ID: LAPD's Geographic Area number.
    Area_Name: Name designation of the LAPD Geographic Area.
    Reporting_District_no: Reporting district number.
    Part 1-2: Crime classification.
    Modus_Operandi: Activities associated with the suspect.
    Victim_Age: Age of the victim.
    Victim_Sex: Gender of the victim.
    Victim_Descent: Descent code of the victim.
    Premise_Code: Premise code indicating the location of the crime.
    Premise_Description: Description of the premise code.
    Weapon_Used_Code: Weapon code indicating the type of weapon used.
    Weapon_Description: Description of the weapon code.
    Status: Status of the case.
    Status_Description: Description of the status code.
    Crime_Category: The category of the crime (Target Variable)

In [6]:
test.columns.to_list()

['Location',
 'Cross_Street',
 'Latitude',
 'Longitude',
 'Date_Reported',
 'Date_Occurred',
 'Time_Occurred',
 'Area_ID',
 'Area_Name',
 'Reporting_District_no',
 'Part 1-2',
 'Modus_Operandi',
 'Victim_Age',
 'Victim_Sex',
 'Victim_Descent',
 'Premise_Code',
 'Premise_Description',
 'Weapon_Used_Code',
 'Weapon_Description',
 'Status',
 'Status_Description']

Target

In [7]:
train['Crime_Category']

0                    Property Crimes
1                    Property Crimes
2                    Property Crimes
3                    Property Crimes
4                    Property Crimes
                    ...
19995                 Violent Crimes
19996                Property Crimes
19997                Property Crimes
19998    Crimes against Public Order
19999                Property Crimes
Name: Crime_Category, Length: 20000, dtype: object

In [8]:
train['Crime_Category'].value_counts()

Property Crimes                  11666
Violent Crimes                    4767
Crimes against Public Order       1808
Fraud and White-Collar Crimes     1355
Crimes against Persons             225
Other Crimes                       179
Name: Crime_Category, dtype: int64

6 categories, that can be labelled

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Location               20000 non-null  object
 1   Cross_Street           3448 non-null   object
 2   Latitude               20000 non-null  float64
 3   Longitude              20000 non-null  float64
 4   Date_Reported          20000 non-null  object
 5   Date_Occurred          20000 non-null  object
 6   Time_Occurred          20000 non-null  float64
 7   Area_ID                20000 non-null  float64
 8   Area_Name              20000 non-null  object
 9   Reporting_District_no  20000 non-null  float64
 10  Part 1-2               20000 non-null  float64
 11  Modus_Operandi         17259 non-null  object
 12  Victim_Age             20000 non-null  float64
 13  Victim_Sex             17376 non-null  object
 14  Victim_Descent         17376 non-null  object
 15  Premise_Code           20000 non-null  float64
 16  Premise_Description    19995 non-null  object
 17  Weapon_Used_Code       7335 non-null   float64
 18  Weapon_Description     7335 non-null   object
 19  Status                 20000 non-null  object
 20  Status_Description     20000 non-null  object
 21  Crime_Category         20000 non-null  object
dtypes: float64(9), object(13)
memory usage: 3.4+ MB

In [10]:
train

,Location,Cross_Street,Latitude,Longitude,Date_Reported,Date_Occurred,Time_Occurred,Area_ID,Area_Name,Reporting_District_no,...,Victim_Age,Victim_Sex,Victim_Descent,Premise_Code,Premise_Description,Weapon_Used_Code,Weapon_Description,Status,Status_Description,Crime_Category
0,4500 CARPENTER AV,NaN,34.1522,-118.3910,03/09/2020 12:00:00 AM,03/06/2020 12:00:00 AM,1800.0,15.0,N Hollywood,1563.0,...,75.0,M,W,101.0,STREET,NaN,NaN,IC,Invest Cont,Property Crimes
1,45TH ST,ALAMEDA ST,34.0028,-118.2391,02/27/2020 12:00:00 AM,02/27/2020 12:00:00 AM,1345.0,13.0,Newton,1367.0,...,41.0,M,H,216.0,SWAP MEET,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,Property Crimes
2,600 E MARTIN LUTHER KING JR BL,NaN,34.0111,-118.2653,08/21/2020 12:00:00 AM,08/21/2020 12:00:00 AM,605.0,13.0,Newton,1343.0,...,67.0,M,B,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,Property Crimes
3,14900 ORO GRANDE ST,NaN,34.2953,-118.4590,11/08/2020 12:00:00 AM,11/06/2020 12:00:00 AM,1800.0,19.0,Mission,1924.0,...,61.0,M,H,101.0,STREET,NaN,NaN,IC,Invest Cont,Property Crimes
4,7100 S VERMONT AV,NaN,33.9787,-118.2918,02/25/2020 12:00:00 AM,02/25/2020 12:00:00 AM,1130.0,12.0,77th Street,1245.0,...,0.0,X,X,401.0,MINI-MART,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,Property Crimes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,5100 W ADAMS BL,NaN,34.0334,-118.3523,05/24/2020 12:00:00 AM,05/24/2020 12:00:00 AM,700.0,3.0,Southwest,303.0,...,51.0,M,H,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,Violent Crimes
19996,16900 ROSCOE BL,NaN,34.2212,-118.5011,12/25/2020 12:00:00 AM,12/25/2020 12:00:00 AM,259.0,10.0,West Valley,1008.0,...,0.0,M,W,301.0,GAS STATION,NaN,NaN,IC,Invest Cont,Property Crimes
19997,1000 S SHENANDOAH ST,NaN,34.0571,-118.3815,09/25/2020 12:00:00 AM,09/25/2020 12:00:00 AM,1400.0,8.0,West LA,849.0,...,42.0,M,H,102.0,SIDEWALK,NaN,NaN,IC,Invest Cont,Property Crimes
19998,300 W SEPULVEDA ST,NaN,33.7451,-118.2835,06/10/2020 12:00:00 AM,06/10/2020 12:00:00 AM,600.0,5.0,Harbor,558.0,...,76.0,F,H,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,Crimes against Public Order
19999,DALTON AV,VERNON AV,34.0037,-118.3034,02/18/2020 12:00:00 AM,02/17/2020 12:00:00 AM,1800.0,3.0,Southwest,397.0,...,0.0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,Property Crimes

It is a multiclass classification problem

In [11]:
train.shape

(20000, 22)

In [12]:
train.isna().sum()

Location                     0
Cross_Street             16552
Latitude                     0
Longitude                    0
Date_Reported                0
Date_Occurred                0
Time_Occurred                0
Area_ID                      0
Area_Name                    0
Reporting_District_no        0
Part 1-2                     0
Modus_Operandi            2741
Victim_Age                   0
Victim_Sex                2624
Victim_Descent            2624
Premise_Code                 0
Premise_Description          5
Weapon_Used_Code         12665
Weapon_Description       12665
Status                       0
Status_Description           0
Crime_Category               0
dtype: int64

Object columns

In [13]:
#printing the column names with type object
object_columns = train.select_dtypes(include='object').columns
print("Columns with type 'object':", object_columns)

Columns with type 'object': Index(['Location', 'Cross_Street', 'Date_Reported', 'Date_Occurred',
       'Area_Name', 'Modus_Operandi', 'Victim_Sex', 'Victim_Descent',
       'Premise_Description', 'Weapon_Description', 'Status',
       'Status_Description', 'Crime_Category'],
      dtype='object')

In [14]:
object_columns

Index(['Location', 'Cross_Street', 'Date_Reported', 'Date_Occurred',
       'Area_Name', 'Modus_Operandi', 'Victim_Sex', 'Victim_Descent',
       'Premise_Description', 'Weapon_Description', 'Status',
       'Status_Description', 'Crime_Category'],
      dtype='object')

In [15]:
train[object_columns]

,Location,Cross_Street,Date_Reported,Date_Occurred,Area_Name,Modus_Operandi,Victim_Sex,Victim_Descent,Premise_Description,Weapon_Description,Status,Status_Description,Crime_Category
0,4500 CARPENTER AV,NaN,03/09/2020 12:00:00 AM,03/06/2020 12:00:00 AM,N Hollywood,0385,M,W,STREET,NaN,IC,Invest Cont,Property Crimes
1,45TH ST,ALAMEDA ST,02/27/2020 12:00:00 AM,02/27/2020 12:00:00 AM,Newton,0906 0352 0371 0446 1822 0344 0416 0417,M,H,SWAP MEET,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,Property Crimes
2,600 E MARTIN LUTHER KING JR BL,NaN,08/21/2020 12:00:00 AM,08/21/2020 12:00:00 AM,Newton,0329 1202,M,B,SINGLE FAMILY DWELLING,NaN,IC,Invest Cont,Property Crimes
3,14900 ORO GRANDE ST,NaN,11/08/2020 12:00:00 AM,11/06/2020 12:00:00 AM,Mission,0329 1300,M,H,STREET,NaN,IC,Invest Cont,Property Crimes
4,7100 S VERMONT AV,NaN,02/25/2020 12:00:00 AM,02/25/2020 12:00:00 AM,77th Street,0416 0945 1822 0400 0417 0344,X,X,MINI-MART,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,Property Crimes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,5100 W ADAMS BL,NaN,05/24/2020 12:00:00 AM,05/24/2020 12:00:00 AM,Southwest,0416 0446 2004 0913,M,H,SINGLE FAMILY DWELLING,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,Violent Crimes
19996,16900 ROSCOE BL,NaN,12/25/2020 12:00:00 AM,12/25/2020 12:00:00 AM,West Valley,1822 0209 0344 1414 1420,M,W,GAS STATION,NaN,IC,Invest Cont,Property Crimes
19997,1000 S SHENANDOAH ST,NaN,09/25/2020 12:00:00 AM,09/25/2020 12:00:00 AM,West LA,0344 1822 1420,M,H,SIDEWALK,NaN,IC,Invest Cont,Property Crimes
19998,300 W SEPULVEDA ST,NaN,06/10/2020 12:00:00 AM,06/10/2020 12:00:00 AM,Harbor,1202 2038 0913 0602 1242 0553,F,H,SINGLE FAMILY DWELLING,NaN,IC,Invest Cont,Crimes against Public Order
19999,DALTON AV,VERNON AV,02/18/2020 12:00:00 AM,02/17/2020 12:00:00 AM,Southwest,NaN,NaN,NaN,STREET,NaN,IC,Invest Cont,Property Crimes

In [16]:
for col in object_columns:
    print(col, " ", train[col].value_counts())

Location   6TH                                        33
7TH                                        32
VERMONT                      AV            31
6TH                          ST            31
7TH                          ST            30
                                           ..
2700 E  1ST                          ST     1
9300    SWINTON                      AV     1
MCKINLEY                                    1
WADE                         ST             1
DALTON                       AV             1
Name: Location, Length: 12399, dtype: int64
Cross_Street   BROADWAY                           56
FIGUEROA                           43
VERMONT                      AV    40
FIGUEROA                     ST    34
MAIN                               33
                                   ..
VENTURA CANYON               BL     1
E  ORLANDO                          1
D                            ST     1
CABRILLO                     AV     1
HAVELOCK                            1
Name: Cross_Street, Length: 1495, dtype: int64
Date_Reported   07/13/2020 12:00:00 AM    87
06/16/2020 12:00:00 AM    83
03/04/2020 12:00:00 AM    77
01/17/2020 12:00:00 AM    75
09/04/2020 12:00:00 AM    74
                          ..
04/06/2022 12:00:00 AM     1
12/15/2021 12:00:00 AM     1
10/20/2022 12:00:00 AM     1
12/27/2022 12:00:00 AM     1
12/19/2021 12:00:00 AM     1
Name: Date_Reported, Length: 811, dtype: int64
Date_Occurred   01/01/2020 12:00:00 AM    137
03/01/2020 12:00:00 AM     92
05/30/2020 12:00:00 AM     87
06/01/2020 12:00:00 AM     85
08/01/2020 12:00:00 AM     81
                         ...
06/22/2020 12:00:00 AM     36
12/16/2020 12:00:00 AM     35
05/22/2020 12:00:00 AM     33
07/26/2020 12:00:00 AM     30
11/12/2020 12:00:00 AM     28
Name: Date_Occurred, Length: 366, dtype: int64
Area_Name   77th Street    1345
Pacific        1157
Central        1156
Southwest      1130
Southeast      1067
N Hollywood    1065
Hollywood      1014
Newton          999
Olympic         960
Wilshire        943
Rampart         931
West LA         910
Van Nuys        902
Harbor          872
Mission         870
Northeast       839
Topanga         792
West Valley     790
Devonshire      769
Hollenbeck      755
Foothill        734
Name: Area_Name, dtype: int64
Modus_Operandi   0344                                       826
0329                                       583
1501                                       187
0329 1300                                  135
0325                                       127
                                          ...
1609 0329 1307 0344                          1
0344 2050 0910 2034                          1
0400 2000 0913                               1
1822 0342 0910 2049 2051 0305 0444 0344      1
1202 2038 0913 0602 1242 0553                1
Name: Modus_Operandi, Length: 10489, dtype: int64
Victim_Sex   M    8538
F    7176
X    1660
H       2
Name: Victim_Sex, dtype: int64
Victim_Descent   H    6143
W    4245
B    2881
X    1849
O    1603
A     427
K      83
C      51
F      48
J      16
I      11
V       8
P       4
Z       3
U       2
D       1
G       1
Name: Victim_Descent, dtype: int64
Premise_Description   STREET                                          5033
SINGLE FAMILY DWELLING                          3379
MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)    2491
PARKING LOT                                     1437
SIDEWALK                                         978
                                                ...
BUS DEPOT/TERMINAL, OTHER THAN MTA                 1
MTA - RED LINE - HOLLYWOOD/WESTERN                 1
MTA - SILVER LINE - ROSECRANS                      1
HIGH-RISE BUILDING                                 1
COMPUTER SERVICES/REPAIRS/SALES                    1
Name: Premise_Description, Length: 216, dtype: int64
Weapon_Description   STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)    3990
UNKNOWN WEAPON/OTHER WEAPON                        789
VERBAL THREAT                                      546
HAND GUN                                           388
KNIFE WITH BLADE 6INCHES OR LESS                   160
SEMI-AUTOMATIC PISTOL                              154
UNKNOWN FIREARM                                    131
OTHER KNIFE                                        125
VEHICLE                                             84
MACE/PEPPER SPRAY                                   80
ROCK/THROWN OBJECT                                  63
BOTTLE                                              55
PIPE/METAL PIPE                                     52
CLUB/BAT                                            51
STICK                                               49
KITCHEN KNIFE                                       45
KNIFE WITH BLADE OVER 6 INCHES IN LENGTH            43
AIR PISTOL/REVOLVER/RIFLE/BB GUN                    41
FOLDING KNIFE                                       37
BLUNT INSTRUMENT                                    37
SIMULATED GUN                                       35
REVOLVER                                            34
BELT FLAILING INSTRUMENT/CHAIN                      26
CONCRETE BLOCK/BRICK                                26
MACHETE                                             25
UNKNOWN TYPE CUTTING INSTRUMENT                     24
HAMMER                                              23
SCREWDRIVER                                         23
FIRE                                                22
OTHER FIREARM                                       18
PHYSICAL PRESENCE                                   18
OTHER CUTTING INSTRUMENT                            17
FIXED OBJECT                                        16
GLASS                                               14
SCISSORS                                            13
RIFLE                                               12
BOARD                                               11
TOY GUN                                              8
SHOTGUN                                              7
TIRE IRON                                            7
AXE                                                  6
STUN GUN                                             4
BRASS KNUCKLES                                       4
SCALDING LIQUID                                      3
SWITCH BLADE                                         3
MARTIAL ARTS WEAPONS                                 2
DEMAND NOTE                                          2
SAWED OFF RIFLE/SHOTGUN                              2
ICE PICK                                             2
CAUSTIC CHEMICAL/POISON                              1
BOMB THREAT                                          1
BOWIE KNIFE                                          1
STARTER PISTOL/REVOLVER                              1
RAZOR BLADE                                          1
HECKLER & KOCH 93 SEMIAUTOMATIC ASSAULT RIFLE        1
ASSAULT WEAPON/UZI/AK47/ETC                          1
CLEAVER                                              1
Name: Weapon_Description, dtype: int64
Status   IC    15236
AO     2597
AA     2054
JA       70
JO       43
Name: Status, dtype: int64
Status_Description   Invest Cont     15236
Adult Other      2597
Adult Arrest     2054
Juv Arrest         70
Juv Other          43
Name: Status_Description, dtype: int64
Crime_Category   Property Crimes                  11666
Violent Crimes                    4767
Crimes against Public Order       1808
Fraud and White-Collar Crimes     1355
Crimes against Persons             225
Other Crimes                       179
Name: Crime_Category, dtype: int64

In [17]:
object_columns

Index(['Location', 'Cross_Street', 'Date_Reported', 'Date_Occurred',
       'Area_Name', 'Modus_Operandi', 'Victim_Sex', 'Victim_Descent',
       'Premise_Description', 'Weapon_Description', 'Status',
       'Status_Description', 'Crime_Category'],
      dtype='object')

In [18]:
train['Area_Name'].nunique()

21

In [19]:
train['Area_ID'].nunique()

21

In [20]:
train[['Area_ID', 'Area_Name']]

       Area_ID    Area_Name
0         15.0  N Hollywood
1         13.0       Newton
2         13.0       Newton
3         19.0      Mission
4         12.0  77th Street
...        ...          ...
19995      3.0    Southwest
19996     10.0  West Valley
19997      8.0      West LA
19998      5.0       Harbor
19999      3.0    Southwest

[20000 rows x 2 columns]

each area has a unique ID, so there's a chance to drop the area name

In [21]:
train['Weapon_Description']

0                                                   NaN
1        STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)
2                                                   NaN
3                                                   NaN
4        STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)
                              ...
19995    STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)
19996                                               NaN
19997                                               NaN
19998                                               NaN
19999                                               NaN
Name: Weapon_Description, Length: 20000, dtype: object

In [22]:
for col in object_columns:
    print(col, " ", train[col].nunique())

Location   12399
Cross_Street   1495
Date_Reported   811
Date_Occurred   366
Area_Name   21
Modus_Operandi   10489
Victim_Sex   4
Victim_Descent   17
Premise_Description   216
Weapon_Description   57
Status   5
Status_Description   5
Crime_Category   6

In [23]:
for col in train.columns:
    print(col, " ", train[col].nunique())

Location   12399
Cross_Street   1495
Latitude   3622
Longitude   3578
Date_Reported   811
Date_Occurred   366
Time_Occurred   996
Area_ID   21
Area_Name   21
Reporting_District_no   1120
Part 1-2   2
Modus_Operandi   10489
Victim_Age   100
Victim_Sex   4
Victim_Descent   17
Premise_Code   217
Premise_Description   216
Weapon_Used_Code   57
Weapon_Description   57
Status   5
Status_Description   5
Crime_Category   6

In [24]:
train[['Weapon_Description', 'Weapon_Used_Code']]

                                   Weapon_Description  Weapon_Used_Code
0                                                 NaN               NaN
1      STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)             400.0
2                                                 NaN               NaN
3                                                 NaN               NaN
4      STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)             400.0
...                                               ...               ...
19995  STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)             400.0
19996                                             NaN               NaN
19997                                             NaN               NaN
19998                                             NaN               NaN
19999                                             NaN               NaN

[20000 rows x 2 columns]

In [25]:
train[['Status', 'Status_Description']]

      Status Status_Description
0         IC        Invest Cont
1         IC        Invest Cont
2         IC        Invest Cont
3         IC        Invest Cont
4         IC        Invest Cont
...      ...                ...
19995     IC        Invest Cont
19996     IC        Invest Cont
19997     IC        Invest Cont
19998     IC        Invest Cont
19999     IC        Invest Cont

[20000 rows x 2 columns]

In [26]:
train['Status_Description'].value_counts()

Invest Cont     15236
Adult Other      2597
Adult Arrest     2054
Juv Arrest         70
Juv Other          43
Name: Status_Description, dtype: int64

In [27]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

In [28]:
object_columns

Index(['Location', 'Cross_Street', 'Date_Reported', 'Date_Occurred',
       'Area_Name', 'Modus_Operandi', 'Victim_Sex', 'Victim_Descent',
       'Premise_Description', 'Weapon_Description', 'Status',
       'Status_Description', 'Crime_Category'],
      dtype='object')

In [32]:
train[['Location']]

                                       Location
0       4500    CARPENTER                    AV
1               45TH                         ST
2        600 E  MARTIN LUTHER KING JR        BL
3      14900    ORO GRANDE                   ST
4       7100 S  VERMONT                      AV
...                                         ...
19995   5100 W  ADAMS                        BL
19996  16900    ROSCOE                       BL
19997   1000 S  SHENANDOAH                   ST
19998    300 W  SEPULVEDA                    ST
19999           DALTON                       AV

[20000 rows x 1 columns]

In [33]:
df = train.copy()

In [35]:
location_encoder = LabelEncoder()

In [36]:
df['Location']

0         4500    CARPENTER                    AV
1                 45TH                         ST
2          600 E  MARTIN LUTHER KING JR        BL
3        14900    ORO GRANDE                   ST
4         7100 S  VERMONT                      AV
                           ...
19995     5100 W  ADAMS                        BL
19996    16900    ROSCOE                       BL
19997     1000 S  SHENANDOAH                   ST
19998      300 W  SEPULVEDA                    ST
19999             DALTON                       AV
Name: Location, Length: 20000, dtype: object

In [37]:
location_encoder.fit_transform(df['Location'])

array([ 7238,  7300,  8525, ...,   441,  5975, 11453])

Need to save this estimator

In [41]:
location_encoder

LabelEncoder()

In [42]:
df

,Location,Cross_Street,Latitude,Longitude,Date_Reported,Date_Occurred,Time_Occurred,Area_ID,Area_Name,Reporting_District_no,...,Victim_Age,Victim_Sex,Victim_Descent,Premise_Code,Premise_Description,Weapon_Used_Code,Weapon_Description,Status,Status_Description,Crime_Category
0,4500 CARPENTER AV,NaN,34.1522,-118.3910,03/09/2020 12:00:00 AM,03/06/2020 12:00:00 AM,1800.0,15.0,N Hollywood,1563.0,...,75.0,M,W,101.0,STREET,NaN,NaN,IC,Invest Cont,Property Crimes
1,45TH ST,ALAMEDA ST,34.0028,-118.2391,02/27/2020 12:00:00 AM,02/27/2020 12:00:00 AM,1345.0,13.0,Newton,1367.0,...,41.0,M,H,216.0,SWAP MEET,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,Property Crimes
2,600 E MARTIN LUTHER KING JR BL,NaN,34.0111,-118.2653,08/21/2020 12:00:00 AM,08/21/2020 12:00:00 AM,605.0,13.0,Newton,1343.0,...,67.0,M,B,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,Property Crimes
3,14900 ORO GRANDE ST,NaN,34.2953,-118.4590,11/08/2020 12:00:00 AM,11/06/2020 12:00:00 AM,1800.0,19.0,Mission,1924.0,...,61.0,M,H,101.0,STREET,NaN,NaN,IC,Invest Cont,Property Crimes
4,7100 S VERMONT AV,NaN,33.9787,-118.2918,02/25/2020 12:00:00 AM,02/25/2020 12:00:00 AM,1130.0,12.0,77th Street,1245.0,...,0.0,X,X,401.0,MINI-MART,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,Property Crimes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,5100 W ADAMS BL,NaN,34.0334,-118.3523,05/24/2020 12:00:00 AM,05/24/2020 12:00:00 AM,700.0,3.0,Southwest,303.0,...,51.0,M,H,501.0,SINGLE FAMILY DWELLING,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,Violent Crimes
19996,16900 ROSCOE BL,NaN,34.2212,-118.5011,12/25/2020 12:00:00 AM,12/25/2020 12:00:00 AM,259.0,10.0,West Valley,1008.0,...,0.0,M,W,301.0,GAS STATION,NaN,NaN,IC,Invest Cont,Property Crimes
19997,1000 S SHENANDOAH ST,NaN,34.0571,-118.3815,09/25/2020 12:00:00 AM,09/25/2020 12:00:00 AM,1400.0,8.0,West LA,849.0,...,42.0,M,H,102.0,SIDEWALK,NaN,NaN,IC,Invest Cont,Property Crimes
19998,300 W SEPULVEDA ST,NaN,33.7451,-118.2835,06/10/2020 12:00:00 AM,06/10/2020 12:00:00 AM,600.0,5.0,Harbor,558.0,...,76.0,F,H,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,Crimes against Public Order
19999,DALTON AV,VERNON AV,34.0037,-118.3034,02/18/2020 12:00:00 AM,02/17/2020 12:00:00 AM,1800.0,3.0,Southwest,397.0,...,0.0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,Property Crimes

In [46]:
df['Modus_Operandi']

0                                           0385
1        0906 0352 0371 0446 1822 0344 0416 0417
2                                      0329 1202
3                                      0329 1300
4                  0416 0945 1822 0400 0417 0344
                          ...
19995                        0416 0446 2004 0913
19996                   1822 0209 0344 1414 1420
19997                             0344 1822 1420
19998              1202 2038 0913 0602 1242 0553
19999                                        NaN
Name: Modus_Operandi, Length: 20000, dtype: object